.header{
    height: 450px;
    width: 100%;
    font-family: 'Nunito';
    background-color: black;
    position: relative;
}

.body{
    font-family: 'Nunito';
}

.header_texture{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: url(./img/austin-distel-mpN7xjKQ_Ns-unsplash.jpg) center no-repeat;
    background-image: url(./img/daria-nepriakhina-zoCDWPuiRuA-unsplash.jpg) center no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 0.3;
}

.header_mask{
    position: absolute;
    bottom: 0;
    background: 0 0;
    height: 42px;
    width: 100%;
    z-index: 10;
}

.header_navbar{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 999;
}

.header_navbar_logo_title{
    color: white;
    font-size: 28px;
}

.header_navbar_menu_link{
    
    margin-left: 40px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.header_slogan{
    text-align: center;
    margin: 240px auto;
    color: white;
    font-family: 'Anton';
}

.h_slogan--btn{
color: white;
font-family: 'Source Code Pro', monospace;
text-decoration: none;
padding: 20px;
background: turquoise;
border-radius: 24px;
opacity: 0.6;
}

.header_navbar--toggle{
    width: 40px;
    height: 60px;
    display: flex;
    align-items: center;
   

}

.header_navbar--toggle-icons,.header_navbar--toggle-icons:before, .header_navbar--toggle-icons:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    position: relative;
}

.header_navbar--toggle-icons:before{top: 10px}
.header_navbar--toggle-icons:after{top: -14px;}


@media only screen and (max-width: 800px){
    .header_navbar--toggle{
        display: flex;
        z-index: 1000;
    }
    .header_navbar--menu{
        display: block;
        position: absolute;
        width: 100vw;
        height: 100vw;
        background: red;
        top: 0; left: 0;

    }

}